.modal-content-img-description-modal {
    border-radius: 0;
    .modal-header {
        border-bottom: 0;
        padding: 0.5rem 1rem;
    }
    .modal-title {
        color: $gray-800;
        margin-bottom: 1rem;
    }
    .modal-body {
        text-align: center;
    }
}